html {
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  background-attachment: fixed;
  background-color: #fafafa;
  background-image: url("/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5em;
  gap: 2em;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
  padding-right: 1.5em;
  gap: 1.5em;
}

.footer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

.custom-title {
  font-size: 72px;
}

.custom-subtitle {
  font-size: 36px;
}

.first-section {
  min-height: 100svh;
}

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.continue-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container {
  display: flex;
  gap: 2em;
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-grow: 1;
}

.skill {
  display: flex;
  flex-direction: column;
}

.tools-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-grow: 1;
}

.stats-container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8px);
  }
}

.up-and-down {
  animation: up-down 0.75s infinite alternate;
}

.is-large {
  scale: 4;
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.two-part-section {
  justify-content: space-evenly;
}

.progress-dark-bg {
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
}

.nes-list.is-circle.white-bullet li:before {
  color: white;
}

.nes-list li {
  margin-bottom: 1em;
  line-height: 2;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.link-text {
  margin: 0;
}
