html {
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  background-attachment: fixed;
  background-color: #fafafa;
  background-image: url("/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5em;
  gap: 2em;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 1.5em;
  padding-right: 1.5em;
  gap: 1.5em;
}

.footer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

.title {
  font-size: 72px;
}

.subtitle {
  font-size: 36px;
}

.section {
  height: 100svh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.continue-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container {
  display: flex;
  gap: 2em;
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-grow: 1;
}

.skill {
  display: flex;
  flex-direction: column;
}

.tools-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-grow: 1;
}

.stats-container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
